/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    display: inline-block;
}

/* GENERAL CLASSES */

.container-flex {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.button-box {
    background-color: #0061ff;
    padding: 8px 18px;
    color: white;
    width: max-content;
}

.smalltype {
    font-size: 13px;
}

/* HEADER */

.hdr {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.hdr > div {
    width: 35%;
    align-items: center;
}

.hdr div:last-child {
    text-align: end;
}

.hdr img {
    width: auto;
    height: 25%;
}

.hdr ul {
    width: 100%;
    justify-content: space-evenly;
}

.hdr img {
    margin: 0 20px;
}

.hdr .button-box {
    margin: 0 20px;
}

/* JUMBOTRON */
.jumbo {
    background-color: #b4d0e7;
    width: 100%
}

.jumbo .container-flex {
    width: 80%;
    height: 500px;
    margin: auto;
    position: relative;
    top: 60px;
    justify-content: space-between;
}

h1 {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    font-size: 85px;
}

.jumbo img {
    width: auto;
    height: 110%;
}

.jumbo-desc {
    width: 500px;
}

.jumbo-desc p {
    padding-bottom: 30px;
}

.jumbo-desc .smalltype {
    padding: 10px 0;
}

#arrow {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 900;
}

/* LEGENDA

-GENERAL CLASSES RIGA 13

-HEADER RIGA 22

-JUMBOTRON RIGA 69
*/