/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    display: inline-block;
}

/* GENERAL CLASSES */

.container-flex {
    display: flex;
}

.cont-large-width {
    width: 100%;
}

.cont-small-width {
    width: 75%;
    margin: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.button-box {
    background-color: #0061ff;
    padding: 8px 18px;
    color: white;
    width: max-content;
    text-align: center;
}

.white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.smalltype {
    font-size: 13px;
}

/* HEADER */

.hdr {
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.hdr > div {
    width: 35%;
    align-items: center;
}

.hdr div:last-child {
    text-align: end;
}

.hdr img {
    width: auto;
    height: 25%;
}

.hdr ul {
    width: 100%;
    justify-content: space-evenly;
}

.hdr img {
    margin: 0 20px;
}

.hdr .button-box {
    margin: 0 20px;
}

/* JUMBOTRON */
.jumbo {
    background-color: #b4d0e7;
}

.jumbo .container-flex {
    width: 80%;
    height: 500px;
    margin: auto;
    position: relative;
    top: 60px;
    justify-content: space-between;
}

h1 {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    font-size: 85px;
}

.jumbo img {
    width: auto;
    height: 110%;
}

.jumbo-desc {
    width: 500px;
}

.jumbo-desc p {
    padding-bottom: 30px;
}

.jumbo-desc .smalltype {
    padding: 10px 0;
}

#arrow {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 900;
}

/* CARDS */
.container-cards {
    margin-top: 200px;
    margin-bottom: 100px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.dots {
    margin-left: 10px;
    display: inline-block;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.dot-bord {
    margin-left: 0;
    border: 5px solid #0061ff;
    height: 20px;
    width: 20px;
}

.col-cards {
    justify-content: space-between;
}

.card {
    margin-top: 20px;
    width: calc( 100% / 3 - 20px );
    height: 1100px;
    border: 1px solid #d0d0d3;
    margin-bottom: 55px;
}

.user {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    margin: 0;
}

.card-content {
    font-size: 16px;
    margin: 35px 30px;
}

h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grey {
    color: #7c8995;
    margin-bottom: 40px;
}

.bonus div {
    padding-bottom: 18px;
}

.bonus i {
    margin: 0 10px 0 0;
    padding-top: 3px;
}

.card-content .button-box {
    width: 100%;
    margin: 30px auto;
    padding-bottom: 8px;
}

.dec {
    text-decoration: underline;
    color: #106aff;
}

li i {
    color: #0061ff;
    font-weight: bolder;
    padding-right: 10px;
    padding-top: 3px;
}

.cut {
    height: 1px;
    background-color: #d0d0d3;
    border: 0;
    width: 15%;
    margin-left: 7%;
}

.part2 * {
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    margin-bottom: 30px;
}

/* card4 */
.col-card-large {
    border: 1px solid #d0d0d3;
}

.card-large {
    width: 100%;
    justify-content: space-between;
}

.enterprice-call {
    width: 30%;
}

.enterprice-call .button-box {
    margin: 30px auto;
}

/* PARTNER */
.partner-container {
    margin-bottom: 100px;
    justify-content: center;
}

.partner-container div {
    width: 50%;
}

.partner {
    padding: 60px;
}

.partner p {
    font-size: 18px;
    padding: 0 60px 30px 0;
}

/* FUNCTIONS */
.col-fun {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.functions {
    width: calc( 100% / 3 - 60px );
    margin-bottom: 50px;
}

.functions span {
    text-decoration: underline;
}

.teams-col {
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 50vh;
}

.square-box {
    width: 50vh;
    flex-wrap: wrap;
}

.rectangle-box {
    width: calc(100% - 100vh);
    background-color: #f5f5f5;
    padding: 60px;
}

.rectangle-box img {
    width: 25%;
    padding-bottom: 40px;
}

.rectangle-box p {
    padding-top: 60px;
    padding-bottom: 70px;
}

.rectangle-box hr {
    margin-left: 0;
}

.square {
    width: 25vh;
    height: 25vh;
    justify-content: center;
    align-content: center;
}

.square img {
    width: 60%;
    -webkit-filter: invert(100%);
}

.ocean img {
    width: auto;
    height: 15%;
    align-self: center;
}

/* square colors */
.green {
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

.burgundy {
    background-color: #61082b;
}

.ocean {
    background-color: #0093ce;
}

.orange {
    background-color: #ff1c1c;
}

.red {
    background-color: #d5001f;
}

.lightblue {
    background-color: #b4d0e7;
}

.blue {
    background-color: #0d2481;
}

.yellow {
    background-color: #ffd830;
}

/* banner */
.cont-banner {
    background-color: #b4d0e7;
    padding-top: 80px;
    padding-bottom: 80px;
}

.cont-banner .cont-small-width {
    justify-content: space-between;
}

.cont-banner h2 {
    color: #61082b;
    width: 50%;
}

.banner-button {
    width: 30%;
}

.banner-button > .button-box {
    border: 0;
    padding: 10px 60px;
}

/* LEGENDA

-GENERAL CLASSES RIGA 14

-HEADER RIGA 56

-JUMBOTRON RIGA 91

-CARDS RIGA 135

-PARTNER RIGA 265

-FUNCTIONS RIGA 284
*/